
<div class="container body-content">

    <h1>@ViewBag.title</h1>

    @*autocomplete and viewbag. searchtype : attempt at bonus method 1*@
    <form action="/Search/Results" method="post"autocomplete="on">
        <h2>Search by:</h2>

        <p>
            @foreach (var column in ViewBag.columns)
            {
                <span>
                    <input type="radio" name="searchType" id="@column.Key" value="@column.Key" checked="@column.Key == @ViewBag.searchType" />
                    <label for="@column.Key">@column.Value</label>
                </span>
            }

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />
    @if (ViewBag.jobs != null)
    {
    <div class="container body-content">

        <h1>@ViewBag.title</h1>

        @foreach (var job in ViewBag.jobs)
        {
            <table class="job-listing">
                <tr>
                    <td>ID: </td>
                    <td> @job.Id</td>
                </tr>
                <tr>
                    <td>Name: </td>
                    <td> @job.Name</td>
                <tr>
                    <td>Employer: </td>
                    <td> @job.Employer</td>
                </tr>
                <tr>
                    <td>Location: </td>
                    <td>@job.Location</td>
                </tr>
                <tr>
                    <td>Position: </td>
                    <td>@job.PositionType</td>
                </tr>
                <tr>
                    <td>Skill: </td>
                    <td>@job.CoreCompetency</td>
                </tr>

            </table>
        }

    </div>
    }
</div>