<div class="container body-content">

    <h1>@ViewBag.title</h1>

    @foreach (var job in ViewBag.jobs)
    {
        <table class="job-listing">
            <tr>
                <td>ID: </td>
                <td> @job.Id</td>
            </tr>
            <tr>
                <td>Name: </td>
                <td> @job.Name</td>
            <tr>
                <td>Employer: </td>
                <td> @job.Employer</td>
            </tr>
            <tr>
                <td>Location: </td>
                <td>@job.Location</td>
            </tr>
            <tr>
                <td>Position: </td>
                <td>@job.PositionType</td>
            </tr>
            <tr>
                <td>Skill: </td>
                <td>@job.CoreCompetency</td>
            </tr>
   
        </table>
     }
        
    </div>